body{
    background-color: skyblue;
}
.container{
    background-color: white;
}
.moviesandcartoons{
    background-color: red;
}
.movies{
    background-color: yellow;
}
.cartoons{
    background-color: chartreuse;
}
.differentcartoonsandmovies{
    background-color: darkblue;
}