body{
    background-color: blue;
}
.moviesandcartoons{
    background-color: red;
}
.movies{
    background-color: yellow;
}
.cartoons{
    background-color: chartreuse;
}
.differentcartoonsandmovies{
    background-color: darkblue;
}